.games_header {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 20px; */
  margin: 5px;
  border-bottom: solid black 2px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding: 20px;
}

.game_lineup {
  /* justify-content: center; */
  margin: 5px;
  border-bottom: solid black 2px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding: 20px;
}
