.games_header {
  display: flex;
  max-height: 170px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: solid black 2px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 28px;
}

.game_lineup {
  /* justify-content: center; */
  margin: 5px;
  border-bottom: solid black 1px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding: 20px;
  height: auto;
  font-size: 21px;
}

.label_name {
  font-style: bold;
}
