.logo_holder {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  background-size: cover;
  background: rgb(42, 111, 255);
  background: linear-gradient(
    90deg,
    rgba(42, 111, 255, 1) 0%,
    rgba(255, 56, 46, 1) 96%
  );
  opacity: 0.7;
}
